<%= render 'filter_form', url: request.path, q: @q %>
<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Поставщики</h3>
      <%= link_to 'Добавить новый', new_provider_path, class: "btn btn-success min-width-btn" %>
    </div>
    <div class="card-body">
      <%= render 'providers', providers: @providers, q: @q %>
      <%= paginate @providers %>
    </div>
  </div>
</div>

