<h1>Editing debt operation</h1>

<%= render "form", debt_operation: @debt_operation %>

<br>

<div>
  <%= link_to "Show this debt operation", @debt_operation %> |
  <%= link_to "Back to debt operations", debt_operations_path %>
</div>
