<div class='container'>
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Операция</th>
        <th>Шорткат</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Добавление Расхода</td>
        <td><code>alt 0</code></td>
      </tr>
      <tr>
        <td>Добавление нового товар/материала</td>
        <td><code>alt 1</code></td>
      </tr>
      <tr>
        <td>Оформление продажу</td>
        <td><code>alt 2</code></td>
      </tr>
      <tr>
        <td>Приход товара от поставщика</td>
        <td><code>alt 5</code></td>
      </tr>
    </tbody>
  </table>
  <br><br><br><br><hr>
  <div class='card shadow-lg'>
    <p>Атрибут accesskey определяет комбинацию клавиш для активации/фокусировки элемента.</p>
    <p><strong>Примечание:</strong> Комбинация клавиш может различаться в разных браузерах:</p>
    <ul>
        <li>Edge, IE, Chrome, Safari, Opera 15+: [ALT] + <em>accesskey</em></li>
        <li>Opera до версии 15: [SHIFT] [ESC] + <em>accesskey</em></li>
        <li>Firefox: [ALT] [SHIFT] + <em>accesskey</em></li>
    </ul>
  </div>
</div>
