default: &default
  adapter: postgresql
  encoding: unicode
  host:     <%= ENV.fetch('DB_HOST', 'localhost') %>
  database: urgut_clothing_development
  username: postgres
  password: 998915309764
  pool:     <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  timeout:  5000

development:
  <<: *default

test:
  <<: *default
  database: global_gm_test

production:
  # <<: *default
  adapter:  postgresql
  encoding: unicode
  database: <%= ENV["PGDATABASE"] %>
  host: <%= ENV.fetch('PGHOST', 'localhost') %>
  username: <%= ENV["PGUSER"] %>
  port: <%= ENV["PGPORT"] %>
  password: <%= ENV["PGPASSWORD"] %>
  url: <%= ENV["DATABASE_URL"] %>
  pool: 100
