<div id="<%= dom_id local_service %>">
  <p>
    <strong>Price:</strong>
    <%= local_service.price %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= local_service.comment %>
  </p>

  <p>
    <strong>Sale from local service:</strong>
    <%= local_service.sale_from_local_service_id %>
  </p>

</div>
