<h1>Editing debt user</h1>

<%= render "form", debt_user: @debt_user %>

<br>

<div>
  <%= link_to "Show this debt user", @debt_user %> |
  <%= link_to "Back to debt users", debt_users_path %>
</div>
