<div id="<%= dom_id daily_transaction_report %>">
  <p>
    <strong>Income in usd:</strong>
    <%= daily_transaction_report.income_in_usd %>
  </p>

  <p>
    <strong>Income in uzs:</strong>
    <%= daily_transaction_report.income_in_uzs %>
  </p>

  <p>
    <strong>User:</strong>
    <%= daily_transaction_report.user_id %>
  </p>

</div>
