<h1>Editing daily transaction report</h1>

<%= render "form", daily_transaction_report: @daily_transaction_report %>

<br>

<div>
  <%= link_to "Show this daily transaction report", @daily_transaction_report %> |
  <%= link_to "Back to daily transaction reports", daily_transaction_reports_path %>
</div>
