<div id="<%= dom_id currency_rate %>">
  <p>
    <strong>Rate:</strong>
    <%= currency_rate.rate %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= currency_rate.finished_at %>
  </p>

</div>
