<% progress_value = @product_entry.local_entry ? '50' : '75' %>

<div style='background-color: #80d3ff87; border-radius: 36px' class="shadow-lg">
  <%= render 'layouts/progress', value: progress_value %>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="text-center mb-4">Добавить новый</h1>
      <%= render 'form', product_entry: @product_entry, products: @products %>
    </div>
  </div>
</div>
