<div style='background-color: #80d3ff87;' class="container shadow-lg">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'layouts/progress', value: 30 %>
      <h1 class="text-center mb-4">Добавить новый</h1>
      <%= render 'form', sale_from_local_service: @sale_from_local_service %>
      <%= link_to 'назад', sale_from_local_services_path, class: "btn btn-light min-width-btn" %>
    </div>
  </div>
</div>
