<div id="<%= dom_id combination_of_local_product %>">
  <p>
    <strong>Comment:</strong>
    <%= combination_of_local_product.comment %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= combination_of_local_product.status %>
  </p>

</div>
