<% if sale.total_paid < sale.total_price %>
  <i type="button" class="fa fa-money-bill-transfer" title=<%= "Пополнить оставщегося сум" %> style='color: blue; cursor: pointer' data-toggle="modal" data-target="#saleModal"></i>
<% end %>

<% if sale.transaction_histories.exists? %>
  <%= clink_to 'история пополнений', transaction_histories_path(sale_id: sale.id), 'fa-clock-rotate-left' %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'transaction_histories/form', transaction_history: TransactionHistory.new(sale_id: sale.id) %>
      </div>
    </div>
  </div>
</div>
