<div class='mx-2'>
  <div class="text-centerjustify-content-between align-items-center">
    <h2 class="card-title text-center font-weight-bold" id='pack-name'>Продажа</h2>
  </div>
  <div class='row'>
    <% unless @sale.closed?  %>
      <div class='col-sm-12 col-md-3'>
        <%= render 'product_sells/form', product_sell: @product_sell, rate: @rate %>
      </div>
    <% end %>
    <div class='col-sm-12 col-md-7'>
      <% unless @product_sells.count.zero?  %>
        <%= render 'product_sells/product_sells', shrink: true, product_sells: @product_sells, rate: @rate %>
      <% end %>
    </div>
    <% unless @sale.closed? %>
      <div class='col-sm-12 col-md-2'>
        <%= render 'sales/form', sale: @sale %>
      </div>
    <% end %>
  </div>
</div>


<script>
  $(document).on('turbo:load', function() {
    $("input").focus(function() {
      $(this).select();
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const params = new URLSearchParams(window.location.search);
    if (params.has('reload')) {
      location.reload();
    }
  });
</script>
